manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params{
  rootDir = "$projectDir/../.."
}
targetDir = "${params.rootDir}/target/nextflow"

process {
  maxForks = 30
  cpus = 2
}

params {
  // Setting debug = true prints more information on the console
  debug = false
  // Default publishDir, can be overridden using --publishDir
  publishDir = "output"
}
