# build related
bin/
Makefile

# sbt-related
target/

# Temporary files / folders
output
out/*

# Rstudio-related
.Rproj.user
.Rhistory
*.Rproj

# Idea-related
.idea
.cache-main
.cache-tests
.classpath
.project
.settings

# VS Code related
.vscode/settings.json
**/metals.sbt
.bloop*
.metals*
