functionality:
  name: viash_test
  namespace: viash
  version: 0.1
  description: |
    Test a project, usually in the context of a pipeline.
  arguments:
  - name: "--src"
    alternatives: [ "-s" ]
    type: file
    description: Directory for sources if different from src/
    default: src
  - name: "--mode"
    alternatives: [ "-m" ]
    type: string
    description: "The mode to run in. Possible values are: 'development', 'integration', 'release'."
    default: development
  - name: "--platform"
    alternatives: [ "-p" ]
    type: string
    description: "Which platforms to process."
    default: "docker" # to do: should be set to 'example'
  - name: "--query"
    alternatives: [ "-q" ]
    type: string
    description: "Filter which components get selected by name and namespace. Can be a regex."
    example: "^mynamespace/component1$"
  - name: "--query_namespace"
    alternatives: [ "-n" ]
    type: string
    description: "Filter which namespaces get selected by namespace. Can be a regex."
    example: "^mynamespace$"
  - name: "--query_name"
    type: string
    description: "Filter which components get selected by name. Can be a regex."
    example: "^component1$"
  - name: "--tag"
    alternatives: [ "-t" ]
    type: string
    description: Which tag/version of the pipeline to use.
    example: "0.1.0"
  - name: "--registry"
    alternatives: [ "-r" ]
    example: ghcr.io
    type: string
    description: Which Docker registry to use in the Docker image name.
  - name: "--organization"
    alternatives: [ "-o", "--organisation" ]
    example: myorganisation
    type: string
    description: Which organisation name to use in the Docker image name.
  - name: "--target_image_source"
    alternatives: [ "-tis" ]
    type: string
    description: Which image source to specify in the component builds.
    example: https://github.com/myorganisation/myrepository
  - name: "--namespace_separator"
    example: "_"
    type: string
    description: The separator to use between the component name and namespace as the image name of a Docker container.
  - name: "--nextflow_variant"
    default: "vdsl3"
    type: string
    description: "Which nextflow variant to use. Options are 'legacy' and 'vdsl3'."
  - name: "--max_threads"
    type: integer
    description: The maximum number of threads viash will use when `--parallel` during parallel tasks.
    example: 8
  - name: "--config_mod"
    alternatives: [ "-c" ]
    type: string
    multiple: true
    multiple_sep: ";"
    description: "Modify a viash config at runtime using a custom DSL. For more information, see the online documentation."
  - name: "--tsv"
    type: file
    description: Test results stored as a tabular text file.
    example: .viash_test_log.tsv
  - name: "--no_cache"
    alternatives: [ "-nc", "--no-cache" ]
    type: boolean_true
    description: Don't cache the docker build in development mode.
  - name: "--log"
    alternatives: [ "-l" ]
    type: file
    description: Test log file
    example: .viash_test_log.txt
  - name: "--append"
    type: boolean
    default: true
    description: Append to the log file?
  - name: "--viash"
    type: file
    description: A path to the viash executable. If not specified, this component will look for 'viash' on the $PATH.
  - name: "--verbose"
    type: boolean_true
    description: "Increase verbosity."
  resources:
    - type: bash_script
      path: script.sh
  tests:
    - type: bash_script
      path: run_test.sh
    - path: ../../test/resources/testns/src
platforms:
- type: native
