{%- set updtArgs = functionality.allArguments -%}
{
    "$schema": "http://json-schema.org/draft-07/schema",
    "title": "{{ functionality.name }}",
    "description": {{ functionality.description | default("No description", true) | tojson }},
    "type": "object",
  {%- if functionality.argument_groups | default([], true) -%}
    "definitions": {
      {%- for group in functionality.argument_groups %}
      "{{ group.name | lower }}" : {
        "title": "{{ group.name }}",
        "type": "object",
        "description": {{ group.description | default("No description", true) | tojson }},
        "default": "",
        "properties": {
          {%- for argument in updtArgs if argument.name | replace("--", "") in group.arguments %}
          "{{ argument.name | replace("--", "") }}": {
            "type": {%- if argument.type in [ "file", "string" ]  -%}
                      "string"
                    {%- elif argument.type in [ "boolean", "boolean_true", "boolean_false" ]  -%}
                      "boolean"
                    {%- elif argument.type in [ "integer" ]  -%}
                      "integer"
                    {%- elif argument.type in [ "double" ]  -%}
                      "number"
                    {%- else -%}
                      "string"
                    {%- endif -%}
                    ,
            "description": {{ argument.description | default("No description", true) | tojson }},
            "default": "{{ argument.default }}",
            "hidden": false
          }{%- if not loop.last -%},{%- endif -%}
          {% endfor %}
        }
      }{%- if not loop.last -%},{%- endif -%}
    {% endfor %}
    },
    "allOf": [
      {% for group in functionality.argument_groups %}{
        "$ref": "#/definitions/{{ group.name | lower }}"
      }{%- if not loop.last -%},{%- endif %}
      {% endfor %}
    ]
  {%- else -%}
  "properties": {
    {%- for argument in updtArgs %}
    "{{ argument.name | replace("--", "") }}": {
      "type": {%- if argument.type in [ "file", "string" ]  -%}
                "string"
              {%- elif argument.type in [ "boolean", "boolean_true", "boolean_false" ]  -%}
                "boolean"
              {%- elif argument.type in [ "integer" ]  -%}
                "integer"
              {%- elif argument.type in [ "double" ]  -%}
                "number"
              {%- else -%}
                "string"
              {%- endif -%}
              ,
      "description": {{ argument.description | default("No description", true) | tojson }},
      "default": "{{ argument.default }}",
      "hidden": false
    }{%- if not loop.last -%},{%- endif -%}
    {% endfor %}
  }
  {%- endif %}
}
