functionality:
  name: viash_push
  namespace: viash
  description: |
    Push a project, usually in the context of a pipeline.
  arguments:
  - name: "--src"
    alternatives: [ "-s" ]
    type: file
    description: Directory for sources if different from src/
    default: src
  - name: "--mode"
    alternatives: [ "-m" ]
    type: string
    description: "The mode to run in. Possible values are: 'development', 'integration', 'release'."
    default: development
  - name: "--query"
    alternatives: [ "-q" ]
    type: string
    description: "Filter which components get selected by name and namespace. Can be a regex."
    example: "^mynamespace/component1$"
  - name: "--query_namespace"
    alternatives: [ "-n" ]
    type: string
    description: "Filter which namespaces get selected by namespace. Can be a regex."
    example: "^mynamespace$"
  - name: "--query_name"
    type: string
    description: "Filter which components get selected by name. Can be a regex."
    example: "^component1$"
  - name: "--tag"
    alternatives: [ "-t" ]
    type: string
    description: The tag/version to be used.
    example: "0.1.0"
  - name: "--registry"
    alternatives: [ "-r" ]
    example: ghcr.io
    type: string
    description: Which Docker registry to use in the Docker image name.
  - name: "--organization"
    alternatives: [ "-o", "--organisation" ]
    example: myorganisation
    type: string
    description: Which organisation name to use in the Docker image name.
  - name: "--target_image_source"
    alternatives: [ "-tis" ]
    type: string
    description: Which image source to specify in the component builds.
    example: https://github.com/myorganisation/myrepository
  - name: "--namespace_separator"
    example: "_"
    type: string
    description: The separator to use between the component name and namespace as the image name of a Docker container.
  - name: "--max_threads"
    type: integer
    description: The maximum number of threads viash will use when `--parallel` during parallel tasks.
    example: 8
  - name: "--force"
    type: boolean_true
    description: Overwrite existing container.
  - name: "--config_mod"
    alternatives: [ "-c" ]
    type: string
    multiple: true
    multiple_sep: ";"
    description: "Modify a viash config at runtime using a custom DSL. For more information, see the online documentation."
  - name: "--log"
    alternatives: [ "-l" ]
    type: file
    description: Log file
    example: .viash_push_log.txt
  - name: "--viash"
    type: file
    description: A path to the viash executable. If not specified, this component will look for 'viash' on the $PATH.
  - name: "--verbose"
    type: boolean_true
    description: "Increase verbosity."
  resources:
    - type: bash_script
      path: script.sh
platforms:
- type: native
