manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// TODO 1: unquote and adapt `rootDir` according to relative path within project
// params {
//   rootDir = "$projectDir/../.."
// }
// 
// workflowDir = "${params.rootDir}/workflows"
// targetDir = "${params.rootDir}/target/nextflow"

// TODO 2: insert custom imports here

// TODO 3: unquote
// docker {
//   runOptions = "-v \$(realpath ${params.rootDir}):\$(realpath ${params.rootDir})"
// }
