name: viash_install
namespace: viash
description: |
  Bootstrap the Viash executable
arguments:
- name: "--output"
  alternatives: [ "-o" ]
  type: file
  description: |
    The output path (absolute or relative) of the Viash executable.
    Examples are: viash, ./viash, /tmp/viash-latest, ./latest/viash
  direction: output
  default: viash
- name: "--tag"
  alternatives: [ "-t" ]
  type: string
  description: "Which tag/version of viash to use."
  default: latest
resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: bash_script
    path: test.sh
engines:
  - type: native