functionality:
  name: viash_install
  namespace: viash
  description: |
    Bootstrap the Viash executable
  arguments:
  - name: "--output"
    alternatives: [ "-n" ]
    type: file
    description: The name to give to the Viash executable
    direction: output
    default: viash
  - name: "--tag"
    alternatives: [ "-t" ]
    type: string
    description: "Which tag/version of viash to use."
    default: latest
  resources:
    - type: bash_script
      path: script.sh
  test_resources:
    - type: bash_script
      path: test.sh
platforms:
- type: native
