name: ns test

on:
  pull_request:
  push:
    branches:
      - main
      - 'develop_**'

jobs:
  ns-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: '11'

    - name: Set up sbt
      uses: sbt/setup-sbt@v1

    - name: Build viash
      run: |
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
        ./configure --prefix "${HOME}/.local/"
        make
        make install

    - name: Run tests
      run: |
        set -e
        viash ns test --src src/viash
